.idea
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.pdf
**/*.toc
**/__pycache__/
**/venv
**/VirtualEnv
**/_minted-report
**/db.sqlite3
**/secret_key.py
**/#*#
**/.vscode
**/unittest
**/.coverage
**/cover
**/bredelebeamer.cls