.idea
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.pdf
**/*.toc
**/*.fdb_latexmk
**/*.fls
**/*.pyg
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.vrb
**/__pycache__/
**/venv
**/VirtualEnv
**/_minted-report
**/db.sqlite3
**/secret_key.py
**/#*#
**/.vscode
**/unittest
**/.coverage
**/cover
**/bredelebeamer.cls
reports/pdp-blackhole-report-realease.tar.xz
**/build
**/bhre.tar
**/nemu
**/coverage.xml
**/coverage_frontend.xml
**/nosetests.xml
**/htmlcov
**/_minted-presentation/
**/dynamips
**/nemu_virt/blackhole*
**/nemu_virt/symlink.*
**/nemu_virt/c7200*
**/nemu_virt/dynamips_log.txt
**/nemu_virt/ilt*
**/output.txt
**/pdp.code-workspace
project/nemu_virt/dyna.sh
project/nemu_virt/bhre.py
**/data.json
