<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  {% block title %}<title>Route Manager</title>{% endblock %}
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">

			{% if user.is_authenticated %}
			  <li>User: {{ user.get_username }}</li>

			{% endif %}

        </ul>
     {% endblock %}
      </div>
      {% if user.is_authenticated %}
          <hr>
      {% endif %}

      <div class="col-sm-10 ">
{% block content %}
{% endblock %}
	</div>







	<!-- si l'utilisateur est authentifié -->
	{% if user.is_authenticated %}
		<hr>
		<ol>
		<!-- Alors on peut lui proposer de se déconnecter ou changer son mot de passe-->
		<!-- Probleme : quand on pars du changePassword vers le dashboard, ça detecte mal-->
		{# if not "/accounts/change_password/" in request.get_full_path #}
			<!-- Mais on ne vas lui proposer-->
			<!-- Si l'utilsiateur est déjà dans la bonne page -->
			<li><a href="{% url 'change_password'%}?next={{request.path}}">Change password</a></li>
		{# endif #}

		<!-- Alors on peut lui proposer de retourner au gestionnaire de route-->
		<!-- Probleme : quand on pars du dashboard vers le login, ça detecte mal-->
		{# if not "/dashboard/" in request.get_full_path #}
			<!-- Mais on ne vas lui proposer-->
			<!-- Si l'utilsiateur est déjà dans la bonne page -->
			<li><a href="{% url 'dashboard'%}?next={{request.path}}">Dashboard</a></li>
		{# endif #}


		<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
		</ol>
	{% endif %}

	<!-- Sinon on peut lui proposer de se connecter.
	Mais s'il n'est pas connecté alors il sera forcément dans la page login.
	Et n'auras pas besoin qu'on lui propose cette option
	 -->



    </div>
  </div>
</body>


<!-- DEBUG -->
{% if False %}
	<br>
	<br>
	<strong>is_authenticated :</strong>
	{{ user.is_authenticated }}<br>

	<strong>get_full_path :</strong>
	{{ request.get_full_path }}<br>



{% endif %}


</html>




