{% extends "base_generic.html" %}

{% block content %}

<h1>Route Manager</h1>
<br>

<h2>Announce a new IP :</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Create</button>
    </form>
<br>

<h2>Announced networks :</h2>
<hr>
{% for r in data %}
      <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" type="text" name="id" value="{{ r.id }}">Delete</button>
            {% if r.is_activated %}
                <button type="submit" type="text" name="id1" value="{{ r.id }}">X</button>
            {% else %}
                <button type="submit" type="text" name="id2" value="{{ r.id }}">O</button>
            {% endif %}
          | {{r.id}} | {{r.ip}} | {{r.next_hop}} | {{r.communities}} |  {{r.created_at}} | {{r.modified_at}} | {{r.is_activated}} | {{r.last_activation}} |
      </form>
      <hr>
{% endfor %}

<br>
{% endblock %}
