{% extends "base_generic.html" %}

{% block content %}

<h1>Route Manager</h1>
<br>
Liste des routes existantes :
<hr>
{% for r in data %}
      | {{r.id}} | {{r.ip}} | {{r.next_hop}} | {{r.communities}} |  {{r.created_at}} | {{r.modified_at}} | {{r.is_activated}} | {{r.last_activation}} |
      <hr>
{% endfor %}

<br>
<h1>Création d'une nouvelle route :</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Créer</button>
    </form>

<br>
{% endblock %}
